<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div>
    <h2>List user:
    </h2>
    <p>Some content..</p>
</div>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/doctor">Doctor </a>
</div>
<div class="w3-container">
    <h2>Hoverable Table</h2>

    <div class="w3-container">
        <h2>Hoverable Table</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>doctor_id</th>
                    <th>password</th>
                    <th>name</th>
                    <th>specialization</th>
                    <th> phone</th>
                    <th>email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataDoctor.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataDoctor[i].doctor_id %>
                        </td>
                        <td>
                            <%= dataDoctor[i].password %>
                        </td>
                        <td>
                            <%= dataDoctor[i].name%>
                        </td>
                        <td>
                            <%=dataDoctor[i].specialization%>
                        </td>
                        <td>
                            <%=dataDoctor[i].phone%>
                        </td>
                        <td>
                            <%=dataDoctor[i].email%>
                        </td>
                        <td style="display:flex;gap:15px">
                            <form>
                                <a class="btn-detail" href="/detail/doctor/<%=dataDoctor[i].doctor_id%>"
                                    target="_blank">Detail</a>
                            </form>
                            <form action="/doctor/edit-doctor/<%=dataDoctor[i].doctor_id%>" method="GET">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete-doctor" method="POST">
                                <input type="text" hidden value="<%=dataDoctor[i].doctor_id%>" name="doctor_id">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>