<!-- ket noi den sever de lay du lieu -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="/doctor">Doctor </a>
        <a href="/appointment">Appointment </a>
        <a href="/medical">Medical</a>
    </div>

    <div>
        <h2>List user:
        </h2>
        <pre><%= dataUser %></pre>
        <p>Some content..</p>
    </div>
    <div class="w3-container">
        <h2>Hoverable Table</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>patient_id</th>
                    <th>email</th>
                    <th>password</th>
                    <th>name</th>
                    <th>gender</th>
                    <th>age</th>
                    <th>address</th>
                    <th>phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataUser.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataUser[i].patient_id %>
                        </td>
                        <td>
                            <%= dataUser[i].email %>
                        </td>
                        <td>
                            <%= dataUser[i].password %>
                        </td>
                        <td>
                            <%= dataUser[i].name%>
                        </td>
                        <td>
                            <%=dataUser[i].gender%>
                        </td>
                        <td>
                            <%=dataUser[i].age%>
                        </td>
                        <td>
                            <%=dataUser[i].address%>
                        </td>
                        <td>
                            <%=dataUser[i].phone%>
                        </td>
                        <td style="display:flex;gap:15px">
                            <form>
                                <a class="btn-detail" href="/detail/user/<%=dataUser[i].patient_id%>"
                                    target="_blank">Detail</a>
                            </form>
                            <form>
                                <a class="btn-detail" href="/detail/appointment/<%=dataUser[i].patient_id%>"
                                    target="_blank">DetailAppointment</a>
                            </form>
                            <form action="/edit-user/<%=dataUser[i].patient_id%>" method="GET">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete-user" method="POST">
                                <input type="text" hidden value="<%=dataUser[i].patient_id%>" name="userId">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>
    </div>
    <div class="create-user-container ">
        <form action="/create-new-user" method="POST">
            <div><b>create a new user:</b></div>
            <div>
                <label>email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>password:</label>
                <input type="text" name="password" />
            </div>
            <div>
                <label>name:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>age:</label>
                <input type="text" name="age" />
            </div>
            <div>
                <label>gender:</label>
                <input type="text" name="gender" />
            </div>
            <div>
                <label>address:</label>
                <input type="text" name="address" />
            </div>
            <div>
                <label>phone:</label>
                <input type="text" name="phone" />
            </div>
            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="create-doctor-container ">
        <form action="/create-new-doctor" method="POST">
            <div><b>create a new doctor:</b></div>
            <div>
                <label>email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>password:</label>
                <input type="text" name="password" />
            </div>
            <div>
                <label>name:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>specialization:</label>
                <input type="text" name="specialization_id" />
            </div>
            <div>
                <label>phone:</label>
                <input type="text" name="phone" />
            </div>
            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="login-container ">
        <form action="/api/login1" method="POST">
            <div><b>Login-patient:</b></div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" />
            </div>
            <div>
                <label>password:</label>
                <input type="text" name="password" />
            </div>
            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
            <div class="login-container1 ">
                <form action="/login" method="POST">
                    <div><b>Login:</b></div>
                    <div>
                        <label>Email:</label>
                        <input type="text" name="email" />
                    </div>
                    <div>
                        <label>password:</label>
                        <input type="text" name="password" />
                    </div>
                    <div>
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
</body>

</html>