<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Doctor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <pre><%=dataUser.patient_id%></pre>
    <div class="update-user-container">
        <form action="/update-user" method="POST">
            <div><b>update User:</b></div>
            <div>
                <label>pass:</label>
                <input name="password" value="<%=dataUser.password%>" />
            </div>
            <div>
                <label>name:</label>
                <input name="name" value="<%=dataUser.name%>" />
            </div>
            <div>
                <label>gender:</label>
                <input name="gender" value="<%=dataUser.gender%>" />
            </div>

            <div>
                <label>age:</label>
                <input name="age" value="<%=dataUser.age%>" />
            </div>
            <div>
                <label>address:</label>
                <input name="address" value="<%=dataUser.address%>" />
            </div>
            <div>
                <label>phone:</label>
                <input name="phone" value="<%=dataUser.phone%>" />
            </div>
            <div>
                <input type="text" value="<%=dataUser.patient_id%>" hidden name="patient_id">
            </div>
            <div>
                <button class="btn-save" type="submit">Save</button>
            </div>
        </form>
    </div>
</body>

</html>