<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div>
    <h2>List user:
    </h2>
    <p>Some content..</p>
</div>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/doctor">Doctor </a>
    <a href="/appointment">Appointment </a>
    <a href="/medical">Medical</a>
</div>
<div class="w3-container">
    <h2>Hoverable Table</h2>

    <div class="w3-container">
        <h2>Hoverable Table</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>medical_record_id</th>
                    <th>patient_id</th>
                    <th>doctor_id</th>
                    <th>disease_id</th>
                    <th>diagnosis</th>
                    <th>prescription</th>
                    <th>notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataMedical.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataMedical[i].medical_record_id %>
                        </td>
                        <td>
                            <%= dataMedical[i].patient_id %>
                        </td>
                        <td>
                            <%= dataMedical[i].doctor_id %>
                        </td>
                        <td>
                            <%= dataMedical[i].disease_id %>
                        </td>
                        <td>
                            <%= dataMedical[i].diagnosis%>
                        </td>
                        <td>
                            <%=dataMedical[i].prescription%>
                        </td>
                        <td>
                            <%=dataMedical[i].notes%>
                        </td>
                        <td style="display:flex;gap:15px">
                            <form>
                                <a class="btn-detail" href="/detail/medical/<%=dataMedical[i].medical_record_id%>"
                                    target="_blank">Detail</a>
                            </form>
                            <form action="/doctor/edit-doctor/<%=dataMedical[i].medical_record_id%>" method="GET">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete-doctor" method="POST">
                                <input type="text" hidden value="<%=dataMedical[i].medical_record_id%>"
                                    name="medical_record_id">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>